<!DOCTYPE html>
<html>
<head>
<title>Admin Home</title>
<link rel="stylesheet" type="text/css" href="AdminHome.css">
</head>
<body>

<center>
<form action="addsongs">
<input type="submit" value="ADD SONG">
</form>
<br/>
<form action="viewsongs">
<input type="submit" value="VIEW SONG">
</form>
<br/>
<form action="createplaylists">
<input type="submit" value="CREATE PLAYLIST">
</form>
<br/>
<form action="viewplaylist">
<input type="submit" value="VIEW PLAYLIST">
</form>
<br/>
<form action="logout">
<input type="submit" value="LOGOUT">
</form>
</center>
</body>
</html>